.big-boy {
	font-size: 30px;
	text-align: center;
	font-family: 'Fascinate', cursive;
}
.styled {
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
}
a {
	text-align: center;
}
footer {
	
}